body {
    font-family: Arial, sans-serif;
    background-color: #2a223e;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    margin: 100px auto;
    padding: 30px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #333;
    font-size: xx-large;
}

form {
    text-align: left;
}

label, input, textarea {
    display: block;
    margin-bottom: 15px;
}
.radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-buttons label {
    margin-right: 30px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.center {
    text-align: center;
}

.center input[type="submit"] {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    form {
        padding: 0 20px;
    }
}