/* background-color: rgb(79, 82, 180); */
.settings-section{
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 10%;
    width: 90%;
    height: auto;
    position: relative;
    margin-top: 8rem;
    margin-left:3rem
}
.set{
    background-color: rgb(21, 21, 21);
    /* background-color: rgb(103, 63, 215); */
    background-image: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    padding:30px 30px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #868e96;
    font-size: 18px;
}

.profile-img img{
    width:25%;
    height:auto;
}
.settings-menu{
    display: flex;
    flex-direction: column;
    gap:30px
}
.seticon{
    color:rgb(231, 255, 255);
    width:25px!important;
    height: auto!important;
}
.for-flex{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tn{
    background-color: rgb(21, 21, 21);
    border:none;
    color: #fff;
    font-size: 1.6rem;
    background-image: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
}
.tn{
    cursor: pointer;
    
}