body{
  margin:0 !important
}
h2{
    padding-bottom: 2rem;
    font-size: 3rem;
}
.descrip-1{
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: rgb(176, 176, 176);
}
.title-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(176, 176, 176);
    
}
.section-edit{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("pexels-pixabay-316093.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 100vh;
    width: auto;
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 1); 
    
}

.title-heading button{
    background-color: #339af0;
}
.downanimate{
  transition: all 0.5s;
}
.downanimate:hover{
  /* transform: translateY(10%); */
  color: #fff;
  box-shadow: 0 100px 100px rgba(163, 0, 0, 0.5);
}

.hPNPOv {
    appearance: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /* row-gap: 8px;
    column-gap: 8px; */
    white-space: nowrap;
    /* -webkit-user-select: none; */
    text-decoration: none;
    flex-shrink: 0;
    color: inherit;
    font-style: inherit;
    font-variant-caps: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-variant-alternates: inherit;
    font-variant-ligatures: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-feature-settings: inherit;
    font-optical-sizing: inherit;
    font-variation-settings: inherit;
    font-weight: 500;
    transition-duration: 120ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: border, background-color, color, box-shadow, opacity;
    font-size: 1.6rem;
    height: 4.8rem;
    border-radius: 3rem;
    padding-top: 0px;
    padding-right: 2.4rem;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-image: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    color: rgb(176, 176, 176);
    padding-left: 2rem;
    margin-top: 2rem;
}
.icon-getstarted{
    stroke: #fff;
}
.login-sec{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:14%;
    margin: 0 7%;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
.login-sec p {
  color: rgb(176, 176, 176);
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.login-sec a{
  text-decoration: none;
}
.login-sec h3{
    font-size: 2.2rem;
    color: rgb(176, 176, 176);
}
.-log{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 3.5rem;
    border-radius: 14px;
    box-shadow: rgba(147, 147, 147, 0.5) 0px 5px 10px;
}
.-log:hover{
    box-shadow: rgba(55, 55, 55, 0.5) 1px 5px 10px;
    cursor: pointer;
}
.features-sec{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1%;
    /* margin-bottom: 100rem;    */
    align-items: center;
    justify-content: center;
    filter: none;
}
.features-sec div{
    background-color: rgb(43, 43, 43);
    padding:3rem 3rem;
    margin: 0 1rem;
    border-radius: 10px;
}
.features-sec div h4{
    margin-bottom: 5rem;
    font-size: 2.2rem;
}
.features-sec div p{
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: rgb(176, 176, 176);
    line-height: 30px;
}

.for-form-admin{
  display: none;
}
.for-form{
    display: none;
}
.login-form-admin{
  width: 500px;
  margin-left: 140px;
}
.login-form-parent{
  width: 500px;
  margin-left: 140px;
  background-color: rgb(15, 15, 15);
}
.cancelparenticon:hover{
  cursor: pointer;
}
.canceladminicon:hover{
  cursor: pointer;
}
.cancel-icon:hover{
  cursor: pointer;
  color: #fff;

}
.forms{
    position: absolute;
    top:20%;
    left:3%;
  
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
  width: 140%;
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: rgb(176, 176, 176);
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #200346;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  background-color: rgb(66, 66, 66);
  color: rgb(176, 176, 176);
  border-radius: 10px;  
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #7d2ae8;
}
.form-content .input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #5b13b9;
}
.forms .form-content label{
  color: #5b13b9;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
  color: #fff;
}
.container #flip{
  display: none;
}
.message-content{
  position: relative;
  top:3rem;
  left:38%;
  width:20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }

}
.main-container{
  margin-top: 4%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: relative;
}
.post-sec{
  width:60%;
  display: flex;
  flex-direction: column;
  gap:2rem;
  align-items: center;
  margin-top: 1rem;
}
.main-container div{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.side-nav{
  background-color: rgb(22, 22, 22);
  height: 100vh;
  position: fixed;
  width: 20%;
  border-radius: 7px;
  top:6rem;
}
.side-nav ul {
  margin-top: 5rem;
  list-style: none;
  width:80%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
  color: rgb(176, 176, 176);
  border-radius: 7px;
}
.rightnav{
  left:0;
}
.leftnav{
  right:0;
}

/* Style the navigation links */
.nav-link {
  text-decoration: none;
  border-radius: 7px;
  color: rgb(176, 176, 176); /* Link color */
  padding: 5px 10px; /* Add padding to create space around the links */
  display: block; /* Display links as block elements for full width */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition for hover effect */
  background-color: rgb(19, 19, 19);
  box-shadow: 0 0 10px rgba(54, 54, 54, 0.5);
}

/* Style the links on hover */
.nav-link:hover {
  color: #fff;
  background-color: rgb(103, 63, 215);/* Background color on hover */
  color: #fff; /* Text color on hover */
}
.create-popup{
  position: absolute;
  left:30%;
  width:40%;
  /* display: none !important; */
  
}
.sub-create{
  background-color: rgb(37, 37, 37);
  width:90%;
  height: 80vh;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-create h3{
  font-size: 2.2rem;
  letter-spacing: 2px;
}
.form-block p{
  font-size: 1.6rem;
}
.write-post-container{
  width:90%;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  padding:20px ;
  color: rgb(176, 176, 176);
  display: flex;
  flex-direction: column;
}
.user-profile{
display: flex;
align-items: center;
}
.user-profile img{
  width:45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile  p{
  margin-bottom: -5px;
  font-weight: 500;
  color: rgb(176, 176, 176);

}
.user-profile small{
font-size: 12px;

}
.post-input-container{
  padding-left: 55px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

}
.post-input-container textarea{
  width:100%;
  border:0;
  outline:0;
  color: rgb(176, 176, 176);
  border-bottom:1px solid #ccc;
   background: transparent;
  /*resize: none; */
}
.add-post-links{
  display: flex;
  margin-top: 10px;

}
.add-post-links a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(176, 176, 176);
  margin-right: 30px;
  font-size: 13px;
}
.add-post-links a img{
  width:20px;
  margin-right: 10px;
}
.post-container{
  width:90%;
background: var(--bg-color);
  border-radius: 6px;
  padding:20px;
  color: rgb(176, 176, 176);
 margin: 20px 0;

}
.user-profile{
  font-size: 13px;
  color: #1a1616;
}
.post-text{
  color:#5d5d5d;
  margin: 15px 0;
  font-size: 15px;

}
.post-text span{
  color:#6a6a6a;
  font-weight: 500;
}
.post-text a{
  color:#1876f2;
  text-decoration: none;
}
.post-img{
  width:100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.post-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-icons div img{
  width:18px;
  margin-right: 10px;

}
.activity-icons div{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.post-profile-icons{
  display: flex;
  align-items: center;

}
.post-profile-icons img{
  width: 20px;
  border-radius: 50%;
  margin-right: 50%;
}
.post-row a{
  color: #646464;
  

}
.btn-submit{
  margin-left: 40%;
  margin-top: 0.5rem;
  border: none;
  border-radius: 15px;
  padding:0.8rem 1.5rem;
  cursor:pointer;
  background-color: rgb(103, 63, 215);
  color: rgb(195, 195, 195);
  letter-spacing: 1px;
  font-size: 1.5rem;
  transition: all 0.4s;
}
.btn-submit:hover{
  color: #fff;
  background-color: rgb(82, 36, 161);
}
.cont-title{
  margin-bottom: 2rem;
}
.date-post{
  margin-top: 0;
  color: rgb(158, 158, 158);
}
.cont-post{
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  border-radius: 8px;
  padding:1rem 5%;
}
.cont-post h3{
  margin-bottom: 0;
  color: rgb(218, 218, 218);
}
.cont-post img{
  border-radius: 8px;
}
.cont-post h4{
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
  color: rgb(210, 210, 210);
}
.discrip{
  font-size: 1.4rem;
  color: rgb(203, 203, 203);
}
.sub-post{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width: 90%;
}
.message-wrong{
  background-color: rgb(103, 63, 215);
  width:24%;
  position: absolute;
  top:1.5rem;
  left:50%;
  border-radius: 7px;
  font-size: 1.2rem;
}
.message-wrong li{
  list-style: none;
}
/* Style the dropdown container (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown when hovering or clicking on the dropdown button */
.show {
  display: block;
}
.setting-cont, .setting-cont div{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
.setting-cont h2{
  font-size: 2rem;
  color: rgb(176, 176, 176);;
  margin-bottom: 0;
}
.setting-cont div{
  color: rgb(176, 176, 176);
  display: flex;
  flex-direction: column;
  gap:1rem
}
.setting-cont div h3 {
  font-size: 1.3rem;
  margin: 0;
  padding: 1rem 1rem;
  border-radius: 8px;
  background-color: rgb(19, 19, 19);
  box-shadow: 0 0 10px rgba(54, 54, 54, 0.5); /* Add your desired shadow settings here */
  transition: all 0.4s;
}

.setting-cont div h3:hover{
  background-color: rgb(103, 63, 215);
  color: #fff;
}
.post-setting{
  display: grid !important;
  grid-template-columns: 1fr 50% !important;
}
.postcontent{
  display:flex;
  flex-direction: column;
}
.imgae img{
  width:100%;
  height: 100%; /* Fill the container's height */
  object-fit: cover;
}

/* .imgae{
  height: 20rem;
  overflow: hidden;
} */
.vote-button{
  border: none;
  background-color:  rgb(22, 22, 22);
  width:20%
}

.ionicon{
  background-color: rgb(22, 22, 22);
  color: #1876f2 ;
  width:60%;
  transition: all 0.4s;
  fill:rgb(22, 22, 22);
}
.ionicon:hover{
  color: #72afff !important;
  /* scale: 2px; */
  cursor: pointer;
}
.voted svg{
  fill:#a0c9ff!important;
}
.votes_sec{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem
}
/*  Admin settings */

.content-tech{
  height: 100vh;
  background-image: radial-gradient(46.99% 43.05% at 2.58% 100%,rgba(46,48,56,.4) 0,transparent 100%),radial-gradient(55.18% 55.16% at 12.42% -3.42%,rgba(112,220,211,.3) 0,transparent 100%);;
}
.content-tech h3{
  background-image:linear-gradient(180deg,#94d8d9,transparent 30%),url(/images/noise-extra.webp),linear-gradient(180deg,#94d8d9,#587e8d 49.65%,#4f5265 92.77%);
  font-size: 3rem;
}
.post-btns p{
  font-size: 1.2rem;
}
.setadmin{
  background: linear-gradient(rgba(85, 73, 255, 0),#281035 ,#200c0c ,rgba(182,229,255,0));
}
.messageindex{
  top:20rem;
  left:38%;
  width:20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(103, 63, 215);
  width:24%;
  position: absolute;
  top:15rem;
  left:40%;
  border-radius: 7px;
  font-size: 1.2rem;
  z-index: 99;
}
.messageindex li{
  list-style: none;
}
.creatBtn:hover{
  cursor: pointer;
}
.rewardform{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}
.rewardform form{
  width:60%;
  background-color: rgb(20, 20, 20);
  padding: 5rem 1rem;
  border-radius: 8px;
}
.add-post-links{
  margin-top: 3rem;
}
.section_rewards{
  display: flex;
  gap:20%;
  align-items: center;
  justify-content: center;
}
.section_rewards p{
  font-size: 1.4rem;
}
