{% extends "base.html" %}
{% load static %}

{% block title %}
FAQ'S
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "squery/FAQ.css" %}"/>
{% endblock %}

{% block content %}
<h6>FAQ'S</h6>
    <div class="container forsq">
        <div class="ques">
            <h4>How to solve your small problems directly without having to go to mentor ?</h4>
            <i class="icon fa-sharp fa-solid fa-caret-down"></i>
        </div>
        <div class="ans">
            <p>You can ask all your small queries like whome you have to contact and where you have to go to fix our
                small issues without directly going to the mentor by writing your issues in the <a href="CHATBOT.html"
                    style="text-decoration: underline; color: #dfdfdf; padding: 6px;">CHATBOT</a>.
                For example: whome we have to contact for mess related issues. So the CHATBOT will provide you the
                contact no. of the authenticated person whome you should contact to solve your issue.</p>
        </div>
    </div>

    <div class="container">
        <div class="ques">
            <h4>Lorem ipsum dolor sit amet consectetur ?</h4>
            <i class="icon fa-sharp fa-solid fa-caret-down"></i>
        </div>
        <div class="ans">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus repellendus obcaecati quas neque
                maiores facere nam consectetur perspiciatis atque placeat molestias reprehenderit voluptatem
                exercitationem ad quia totam vero, eaque quaerat odio assumenda!</p>
        </div>
    </div>

    <div class="container">
        <div class="ques">
            <h4>Lorem ipsum dolor sit amet consectetur ?</h4>
            <i class="icon fa-sharp fa-solid fa-caret-down"></i>
        </div>
        <div class="ans">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nobis soluta quisquam dicta aut quasi
                architecto nesciunt, molestias, praesentium sequi nostrum rerum porro accusantium sunt distinctio iste
                perferendis recusandae assumenda nisi corrupti consectetur blanditiis. Debitis, numquam officiis culpa
                nemo, reiciendis nobis ex ducimus quibusdam eaque quis, magnam omnis cumque deserunt perferendis esse
                aliqma, saepe ipsum quas pariatur itaque at ullam asperiores voluptates quidem
                voluptatem illum sint. Pariatur eaque culpa esse corporis dicta voluptatibus ut non error, soluta sint
                quo optio cupiditate minima, accusantium ratione eius molestias sequi veritatis dolor quibusdam. Aliquid
                itaque, magzmagnam eos odio nobis ab culpa mollitia ullam at voluptate, rem vel esse nam optio non.
                Nemo eum perspiciatis est aspernatur aliquid facere. Dolore sunt quisquam obcaecati ipsa vel debitis
                aliquid , reiciendis ab! Non, labore impedit odit neque similique magni dolorem totam quos vel
                ullam ex que amet velit officiis? Quasi doloremque voluptate esse, tempora illo dolore blanditiis
                consequuntur at. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus repellendus
                obcaecati quas neque maiores facere nam consectetur perspiciatis atque placeat molestias reprehenderit
                voluptatem exercitationem ad quia totam vero, eaque quaerat odio assumenda!</p>
        </div>
    </div>

    <div class="container">
        <div class="ques">
            <h4>Lorem ipsum dolor sit amet consectetur ?</h4>
            <i class="icon fa-sharp fa-solid fa-caret-down"></i>
        </div>
        <div class="ans">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus repellendus obcaecati quas neque
                maiores facere nam consectetur perspiciatis atque placeat molestias reprehenderit voluptatem
                exercitationem ad quia totam vero, eaque quaerat odio assumenda!</p>
        </div>
    </div>

{% endblock %}

{% block js %}
<script src="{% static "squery/FAQ.js" %}"></script>
{% endblock %}