{% extends "base.html" %}
{% load static %}

{% block title %}
Query's
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "squery/style.css" %}"/>
{% endblock %}

{% block content %}
<div class ="main-container">
    <div class="side-nav rightnav">
        <ul>
            <li><a class="nav-link" href="#">Create Query</a></li>
            <li><a class="nav-link" href="#">Personal Query</a></li>
            <li><a id="creatBtn" class="nav-link" href="{% url "rewards" %}">Rewards</a></li>
            <li><a class="nav-link" href="{% url "repeater_form" %}">Repeater-BackForm</a></li>
            <!-- <li><a class="nav-link" href="#">Other Problem</a></li> -->
            <li><a class="nav-link" href="#">Report a Query</a></li>
        </ul>
    </div>
    <div class="post-sec">
        <div class="write-post-container">
            <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="message-wrong">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="user-profile">
                    <img src="images/profile-pic.png">
                    <div>
                        <p>{{ username }}</p>
                        <small>public <i class="fas fa-caret-down"></i></small>
                    </div>
                </div>
                <div class="post-input-container">
                    <div class="cont-title">
                        <textarea rows="1" name="title" placeholder="Title"></textarea>
                    </div>
                    <div>
                        <textarea rows="3" name="description" placeholder="What's Your Query. Please describe.."></textarea>
                    </div>
                    <div class="add-post-links">
                        <a><label for="image-upload" style="cursor: pointer;">
                            <img src="{% static "squery/image.svg" %}">Photo
                        </label>
                        <input type="file" name="image" accept="image/*" id="image-upload" style="display: none;"></a>
                        <!-- <a href="#"><img src="{% static "squery/image-outline.svg" %}">Video</a> -->
                        <a href="#"><img src="{% static "squery/smile-2.svg" %}">Feeling Activity</a>
                        <button class="btn-submit" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="sub-post">
            
                {% for post in posts %}
                    <div class="cont-post">
                        <div class="post-setting">
                            <div class="postcontent">
                                <h3>{{ username }}</h3>
                                <p class="date-post">
                                    {% load tz %}
                                    {{ post.date|timezone:"Asia/Kolkata"|date:"F d Y, P" }}
                                </p>                      
                                <h4>{{ post.title }}</h4>
                                <p class="discrip">{{ post.description }}</p>
                            </div>
                            <div class="imgae">
                                <image src="{{ post.image.url }}"></image>
                            </div>
                            <div class="votes_sec">
                                <p><span class="totalvotes" id="total-votes-{{ post.id }}">{{ post.likes }}</span></p>
                                <div>
                                    
                                    <a href="{% url 'like' post.id %}" class="vote-button " data-post-id="{{ post.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                          <path d="M320 458.16S304 464 256 464s-74-16-96-32H96a64 64 0 01-64-64v-48a64 64 0 0164-64h30a32.34 32.34 0 0027.37-15.4S162 221.81 188 176.78 264 64 272 48c29 0 43 22 34 47.71-10.28 29.39-23.71 54.38-27.46 87.09-.54 4.78 3.14 12 7.95 12L416 205"
                                             stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="22" />
                                          <path d="M416 271l-80-2c-20-1.84-32-12.4-32-30h0c0-17.6 14-28.84 32-30l80-4c17.6 0 32 16.4 32 34v.17A32 32 0 01416 271zM448 336l-112-2c-18-.84-32-12.41-32-30h0c0-17.61 14-28.86 32-30l112-2a32.1 32.1 0 0132 32h0a32.1 32.1 0 01-32 32zM400 464l-64-3c-21-1.84-32-11.4-32-29h0c0-17.6 14.4-30 32-30l64-2a32.09 32.09 0 0132 32h0a32.09 32.09 0 01-32 32zM432 400l-96-2c-19-.84-32-12.4-32-30h0c0-17.6 13-28.84 32-30l96-2a32.09 32.09 0 0132 32h0a32.09 32.09 0 01-32 32z"
                                             stroke="currentColor" stroke-miterlimit="10" stroke-width="22" />
                                        </svg>
                                      </a>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    <div class="side-nav leftnav">
        <div class="setting-cont">
            <h2>Display Settings</h2>
            <div>
                <h3 id="dropdown-toggle">Posts Grid</h3>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
                <h3>Theme</h3>
            </div>
        </div>
    </div>
</div>

{% block js %}
    <script src="{% static "squery/script.js" %}"></script>
{% endblock %}
{% endblock %}