{% extends "base.html"%}
{% load static %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "squery/style.css" %}"/>
<link rel="stylesheet" href="{% static "squery/settings.css" %}"/>
{% endblock %}

{% block content %}
<section class="setadmin body-font main-section">
    <div class="settings-section" style="column-gap:0">
        <div class="settings-menu">
            <div class="dashboard-set active set" style="border-radius: 7px;">                  
                <button class="btn-dashboard tn">
                  <div class="for-flex">
                    Student Query
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 seticon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z" />
                      </svg>                      
                </div>
                </div>
                </button>
            </div>
            <div class="artwork-set set"style="border-radius: 7px;">
                <button class="btn-artworks tn">
                  <div class"for-flex">
                    Repeater-form
                <div>
                    <svg class="seticon" style="stroke: rgb(231, 255, 255); margin-left: 20px;" height="24" viewBox="0 0 24 24" width="24" focusable="false""><path d="M19 3.87v9.77C19 17.7 15.86 21 12 21s-7-3.3-7-7.37v-.13c0-1.06.22-2.13.62-3.09.5-1.19 1.29-2.21 2.27-2.97.85-.66 1.83-1.14 2.87-1.65.39-.19.77-.38 1.15-.58.36-.19.72-.38 1.08-.56v3.22l1.55-1.04L19 3.87M20 2l-6 4V3c-.85.44-1.7.88-2.55 1.33-1.41.74-2.9 1.34-4.17 2.32-1.13.87-2.02 2.05-2.58 3.37-.46 1.09-.7 2.29-.7 3.48v.14C4 18.26 7.58 22 12 22s8-3.74 8-8.36V2zM9.45 12.89 14 10v5.7c0 1.82-1.34 3.3-3 3.3s-3-1.47-3-3.3c0-1.19.58-2.23 1.45-2.81z"></path></svg>
                </div>
                </div>
                </button>
            </div>
            <div class="orders-set set"style="border-radius: 7px;">
                <button class="btn-orders tn">
                  <div class="for-flex">
                    activity
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 seticon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                      </svg>
                      
                </div>
                </div>
                </button>

            </div>
            <div class="info-set set"style="border-radius: 7px;">
                <button class="btn-inf tn">
                  <div class="for-flex">
                    Info
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 seticon for-th">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
                      </svg>                      
                </div>
                </div>
                </button>
            </div>
        </div>
        <div class="My-Account" style="width: 90%; height:auto; margin-left: 8%;">
          <div class="admin-dashsec" style="position: relative;">
            <div class="student_query_sec">
              <div class="query_posts">
                {% for post in posts %}
                    <div class="post--">
                        <div class="ment-post">
                          <div class="imgae">
                            <image src="{{ post.image.url }}"></image>
                          </div>
                          <div class="postcontent">
                            <h4>{{ post.title }}</h4>
                          </div>
                          <div class="post-btns">
                            <p>{{ post.likes }} votes</p>
                            <button><a href="{% url 'post_details' post.id %}">View</a></button>
                          </div>
                        </div>
                    </div>
                {% endfor %}
              </div>
            </div>
          </div>
            <div class="profile-overview" style="position: relative;">
                <div class="name-section" style="display:none">
                    <div class="profile-img" style="padding:20px 20px;border-radius: 7px;" background-color:rgb(19, 19, 19) ; border-radius: 10px;">
                        <img style="border-radius: 50%; width:20%; height:auto;" alt="profile-image" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60">
                        <!-- <img alt="profile-image" src="{{seller_profile_photo.image.url}}"> -->
                    </div>
                    <div style="position:absolute; top:14%; left:25%; font-size:40px; font-weight: bold; color: #fff;">{{seller_name}}</div>
                    <div style="position:absolute; top:25%; left:25%;"><svg style="color:#12b886" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon css-z7zgf0" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><g><path fill="none" d="M0 0h24v24H0z"></path><path d="M3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976zM5 4.604v9.185a4 4 0 0 0 1.781 3.328L12 20.597l5.219-3.48A4 4 0 0 0 19 13.79V4.604L12 3.05 5 4.604z"></path></g></svg></div>
                    <!-- "allProds": allarts, "seller_name": seller_name, "seller_discription": seller_discription, "seller_sid": seller_sid,
                                             "seller_product": seller_product, "seller_accountNo": seller_accountNo, "seller_ifccode": seller_ifccode, "seller_account_holder_name": seller_account_holder_name,
                                             "seller_profile_photo": seller_profile_photo, "seller_address": seller_address, "seller_pincode": seller_pincode, "seller_city": seller_city}) -->
                    <div style="font-size:18px; display:flex; gap:40px;color:rgb(194, 194, 194); margin-top: 30px; background-color: rgb(26, 26, 26); padding-left: 10px; border-radius: 7px;">
                      <div class="name-subsection" style="display:flex;flex-direction:column; gap:10px">
                        <div class="displayname-section">
                            <div ><p>Name</p></div>
                        </div>
                        <div class="discription-section">
                            <div><p>Branch</p></div>
                        
                        </div>
                        <div class="sid-section">
                            <div><p>Section</p></div>
                        
                        </div>
                        <div class="product-section">
                            <div><p>Email Address</p></div>
                            
                        </div>
                        <div class="accountnumber-section">
                            <div>Contact Number</div>
                      
                        </div>
                        <div class="ifccode-section">
                          <div ><p>reset password</p></div>
                        </div>
                        <!-- <div class="accountholdername-section">
                          <div ><p>Account Holder Name</p></div>
                        </div>
                        <div class="sellerAddress-section">
                          <div ><p>Address</p></div>
                        </div>
                        <div class="sellerpincode-section">
                          <div ><p>Pin Code</p></div>
                        </div>
                        <div class="sellercity-section">
                          <div ><p>City</p></div>
                        </div>         -->
                      </div>
                      <div class="detail-sec"style="display:flex;flex-direction:column; gap:10px">
                        <!-- <div><p>{{seller_name}}</p></div>
                        <div><p>{{seller_discription}}</p></div>
                        <div><p>{{seller_sid}}sid</p></div>
                        <div><p>{{seller_product}}product</p></div>
                        <div><p>{{seller_accountNo}}account</p></div>
                        <div><p>{{seller_ifccode}}ifc</p></div>
                        <div><p>{{seller_account_holder_name}}acc</p></div>
                        <div><p>{{seller_address}}</p></div>
                        <div><p>{{seller_pincode}}</p></div>
                        <div><p>{{seller_profile_photo}}</p></div> -->
                        
                      </div>
                    </div>
                    <div class="edit-button" style="position:absolute; top:-3%; right:5%">
                        <a class="sc-e3210ff9-0 cnchrg sc-6c370cb9-0 hPNPOv sc-791c6588-2 jLrGPT" data-hide="edit-" rel="noopener" href="/edit-profile"><span>Edit Profile</span> <svg class="icon-getstarted" width="16" height="16" viewBox="0 0 16 16" fill="#8A8F98"><path d="M5.46967 11.4697C5.17678 11.7626 5.17678 12.2374 5.46967 12.5303C5.76256 12.8232 6.23744 12.8232 6.53033 12.5303L10.5303 8.53033C10.8207 8.23999 10.8236 7.77014 10.5368 7.47624L6.63419 3.47624C6.34492 3.17976 5.87009 3.17391 5.57361 3.46318C5.27713 3.75244 5.27128 4.22728 5.56054 4.52376L8.94583 7.99351L5.46967 11.4697Z"></path></svg></a>
                    </div>
                </div>
            </div>
            <div class="sec-art" style="display:none;">
              <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Roll Number</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">Certifications</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in user %}
                    {% if i.first_name != "" %}
                      <tr>
                        <!-- <th scope="row">{{ forloop.counter }}</th> -->
                        <th>{{ i }}</th>
                        <td>{{ i.first_name }}</td>
                        <td>{{ i.last_name }}</td>
                        <td>{{ i.email }}</td>
                        <td><a href="{% url 'admin_rewards' i.id %}">Certificates</a></td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
      </div>
        </div>
        
</section>
{% block js %}
    <script src="{% static "squery/script.js" %}"></script>
{% endblock %}
{% endblock %}

