{% extends "base.html"%}
{% load static %}

{% block title %}
student-certificates
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "squery/style.css" %}"/>
{% endblock %}

{% block content %}
<h2>kdjbqekj</h2>

{% for i in rewards %}
<div class="postcontent">
    <p>name</p>
    <h3>{{ username }}</h3>
    <!-- <p class="date-post">
        <p>date</p>
        {% load tz %}
        {{ post.date|timezone:"Asia/Kolkata"|date:"F d Y, P" }}
    </p>                       -->
    <h4>{{ i.title }}</h4>
    <p class="discrip">{{ i.description }}</p>
    <p>{{ i.file }}</p>
</div>

<div class="imgae">
    <image src="{{ i.file.url }}"></image>
</div>
{% endfor %}

{% block js %}
    <script src="{% static "squery/script.js" %}"></script>
{% endblock %}
{% endblock %}
